<%= stylesheet_link_tag "proctoring/video_player_100ms" %>
<%= content_tag :div, '', id: 'proctoring-data', data: { app_name: Proctoring.app_name } %>

<div class="container-fluid">
  <div class="row text-white">
    <div class="col-3">
      <div class="card bg-danger shadow">
        <div class="card-body">
          <span class="data-title h6">Event Id</span>
          <h1 class="text-white display-4 text-uppercase" id="connected-event">-</h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-success shadow">
        <div class="card-body">
          <span class="data-title h6">Assigned Candidates Online</span>
          <h1 class="text-white display-4 text-uppercase" id="assigned-candidates">0</h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-primary shadow">
        <div class="card-body">
          <span class="data-title h6">Total Candidates Online</span>
          <h1 class="text-white display-4 text-uppercase" id="connected-candidates">0</h1>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-warning shadow">
        <div class="card-body">
          <span class="data-title h6">Proctors Online</span>
          <!-- <h1 class="display-4 text-uppercase">23</h1> -->
          <h1 class="text-white display-4 text-uppercase" id="connected-recruiters">0</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row border no-gutters mt-4 h-100">
    <div class="col-12" style="overflow: scroll;height: 100vh;">
      <div id="proctoringVideos"></div>
      <div class="loader" id="loader"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag '100ms/proctor', type: 'module' %>
