<link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <video id="preview-player" class="video-js vjs-fluid" controls data-setup={}>
      <video
          id="my-player"
          class="video-js"
          controls
          preload="auto"
          poster="//vjs.zencdn.net/v/oceans.png"
          data-setup='{}'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
        </p>
      </video>
    </div>
  </div>
</div>
<script src="https://unpkg.com/video.js/dist/video.min.js"></script>
