#proctoringVideos {
  display: flex;
  flex-wrap: wrap;
}
#proctoringVideos .videoContainer{
  border-width: 5px;
}
#proctoringVideos .videoContainer video {
  width: 320px;
  height: 240px;
}
.border-danger .status-online {
  display: none;
}
.border-success .status-offline {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top:  30%;
  left: 45%;
  transform: translate(-50%,-50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}