#proctoringVideos {
  display: flex;
  flex-wrap: wrap;
}
#proctoringVideos .videoContainer{
  border-width: 5px;
}
#proctoringVideos .videoContainer video {
  width: 320px;
  height: 240px;
}
.border-danger .status-online {
  display: none;
}
.border-success .status-offline {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  1000% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  1000% { transform: rotate(360deg); }
}