<%= form_with(model: video_proctoring, local: true) do |form| %>
  <% if video_proctoring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_proctoring.errors.count, "error") %> prohibited this video_proctoring from being saved:</h2>

      <ul>
        <% video_proctoring.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
